* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	-webkit-box-sizing: border-box;
}

.bg-image {
	width: 100vw;
	height: 100vh;
	background: url('./bg.png') no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.container {
	width: 100vw;
	height: 100vh;
	display: flex;
	align-items: center;
	justify-content: center;
	background-color: #00538F;
}

#mapid {
	height: 85vh;
	width: 80vw;
	border: 2px solid black;
}

#grow {
	position: absolute;
	top:  0;
	right: 0;
	z-index: 10;
}